package ${qo.packageName};

import com.ipampas.framework.model.Page;
import lombok.Data;

/**
 * ${table.desc}
 *
 * @author generator
 * @version 1.0.0
 */
@Data
public class ${qo.shortClassName} extends Page {

    /** serialVersionUID */
    private static final long serialVersionUID = ${serialVersionUID}L;


}